{% if site.formspree.endpoint %}
<div class="ap-form-container">
    <form action="{{site.formspree.endpoint}}" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Full Name">
        <label for="email">Email</label>
        <input type="email" name="_replyto" id="email" placeholder="Your Email Address">
        <label for="subject">Subject</label>
        <input type="text" name="subject" id="subject" placeholder="Subject">
        <label for="description">Description</label>
        <textarea name="body" id="message" placeholder="Your Message" rows="5"></textarea>
        <input type="submit" value="Submit">
    </form>
</div>
{% endif %}
<!-- {% if site.formspree.endpoint %}
<div class="ap-form-container">
    <form action="{{site.formspree.endpoint}}" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Full Name" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="_replyto" id="email" placeholder="Your Email Address" required>
        </div>
        <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" name="subject" id="subject" placeholder="Subject" required>
        </div>
        <div class="form-group">
            <label for="message">Message</label>
            <textarea name="body" id="message" placeholder="Your Message" rows="5" required></textarea>
        </div>
        <div class="form-group">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
{% endif %} -->